.carousel {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carouselButton {
    width: 4vw;
    justify-content: center;
    font-weight: bold;
    display: none;
}

.carousel:hover .carouselButton {
    display: flex;
    text-shadow: none;
    cursor: pointer;
}

.footerLabel {
    font-size: 3.2vh;
    margin-right: 2vw;
}

.footerInput {
    font-size: 3.2vh;
    margin-left: 1vw;
}

.footerButton {
    font-weight: bold;
    margin-right: 0.5vw;
}
